<!DOCTYPE html>
<html>

<head>
    {% load static %}
  <meta charset="UTF-8">
  <title>Upload Data</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container">
  <img src="/static/Shinkan-Logo.jpg" alt="Logo" class="logo">
  <h1>Upload Data</h1>
  <h2>Hello {{ name }}! Please upload your data here:</h2>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}

    <div class="form-group">
      <label for="upload-image">Upload Image:</label>
      <input type="file" id="upload-image" name="upload-image" accept="image/*" required>
    </div>

    <div class="form-group">
      <label for="upload-video">Upload Video:</label>
      <input type="file" id="upload-video" name="upload-video" accept="video/*" required>
    </div>

    <div class="form-group">
      <input type="submit" value="Process">
</div> </form>
</body>

</html>
